@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
/*animate*/
.section1 .cont-section:hover .animate, .Section2 .cont2-1:hover .animate, .Section2 .cont2-2:hover .animate, .Section2 .cont2-3:hover .animate, .Section2 .cont2-4:hover .animate, .Section3 .contsection3-1:hover .animate, .Section3 .contsection3-2:hover .animate, .Section4 .cont4-1:hover .animate, .Section4 .cont4-2:hover .animate, .Section4 .cont4-3:hover .animate, .Section4 .cont4-4:hover .animate, .Section5:hover .animate, .Section7 .contsection7-1:hover .animate, .Section8 .cont8-1:hover .animate, .Section8 .cont8-2:hover .animate, .Section8 .cont8-3:hover .animate, .Section8 .cont8-4:hover .animate {
  width: 65px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.section1 .cont-section .animate, .Section2 .cont2-1 .animate, .Section2 .cont2-2 .animate, .Section2 .cont2-3 .animate, .Section2 .cont2-4 .animate, .Section3 .contsection3-1 .animate, .Section3 .contsection3-2 .animate, .Section4 .cont4-1 .animate, .Section4 .cont4-2 .animate, .Section4 .cont4-3 .animate, .Section4 .cont4-4 .animate, .Section5 .animate, .Section7 .contsection7-1 .animate, .Section8 .cont8-1 .animate, .Section8 .cont8-2 .animate, .Section8 .cont8-3 .animate, .Section8 .cont8-4 .animate {
  margin: 15px 0 15px 5px;
  width: 0px;
  height: 2.5px;
  background-color: red; }

.line {
  width: 100%;
  height: 20px;
  background-color: white;
  margin: 15px 0 15px 0; }

/*Секция№2*/
.Section2 .cont2-1, .Section2 .cont2-2, .Section2 .cont2-3, .Section2 .cont2-4, .Section4 .cont4-1, .Section4 .cont4-2, .Section4 .cont4-3, .Section4 .cont4-4, .Section8 .cont8-1, .Section8 .cont8-2, .Section8 .cont8-3, .Section8 .cont8-4 {
  width: 300px;
  height: 420px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden; }
  .Section2 .cont2-1:hover, .Section2 .cont2-2:hover, .Section2 .cont2-3:hover, .Section2 .cont2-4:hover, .Section4 .cont4-1:hover, .Section4 .cont4-2:hover, .Section4 .cont4-3:hover, .Section4 .cont4-4:hover, .Section8 .cont8-1:hover, .Section8 .cont8-2:hover, .Section8 .cont8-3:hover, .Section8 .cont8-4:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(243, 243, 243, 0.973) !important; }

/*Header*/
.head-top {
  width: 100%;
  height: 30px;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .head-top .head-left {
    padding: 5px;
    color: white; }
    .head-top .head-left .img-left {
      margin-top: -4px; }
    .head-top .head-left .sign {
      font-family: 'Lato', sans-serif; }
  .head-top .head-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 235px; }
    .head-top .head-right .log {
      margin-right: 10px; }
      .head-top .head-right .log a {
        text-decoration: none; }
      .head-top .head-right .log .team-viewer {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: white; }
      .head-top .head-right .log .team-viewer2 {
        font-family: 'Lato', sans-serif;
        color: white; }
      .head-top .head-right .log .text-kohler {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        color: white; }

/*Menu*/
.navbar {
  height: 55px;
  background-color: #c70101; }
  .navbar a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: white; }
  .navbar .nav-link:hover {
    color: black;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .navbar .d-flex {
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    color: white;
    margin-right: 30px; }
    .navbar .d-flex .form-control {
      display: none; }
    .navbar .d-flex:hover .form-control {
      display: block;
      -webkit-transition: 3s;
      -o-transition: 3s;
      transition: 3s; }
    .navbar .d-flex:hover .search {
      display: none;
      -webkit-transition: 3s;
      -o-transition: 3s;
      transition: 3s; }
  .navbar .pow {
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 10px;
    text-transform: none; }
    .navbar .pow .hcl {
      text-transform: uppercase;
      font-weight: 700;
      font-style: 20px; }

/*Карусель*/
.carousel-fade {
  width: 100%;
  height: 600px; }
  .carousel-fade .carousel-inner {
    width: 100%;
    height: 600px; }
  .carousel-fade .carousel-caption {
    margin-bottom: 120px; }
    .carousel-fade .carousel-caption h5 {
      font-size: 50px;
      text-transform: uppercase;
      font-weight: 700;
      color: whitesmoke;
      float: left; }
  .carousel-fade .cl {
    margin-bottom: 40px; }
    .carousel-fade .cl h5 {
      font-size: 48px;
      text-transform: uppercase;
      font-weight: 700;
      color: whitesmoke;
      float: left; }

.obsh {
  width: 100%;
  height: 2500px; }

.navbar {
  z-index: 3; }

/*=========Section №1==========*/
.section1 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px; }
  .section1 .link-contsec {
    display: block; }
  .section1 .cont-section {
    width: 600px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .section1 .cont-section:hover .img-sec-cont {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      width: 320px;
      height: 380px; }
    .section1 .cont-section .sec-img {
      overflow: hidden; }
      .section1 .cont-section .sec-img .img-sec-cont {
        margin-left: -11px; }
    .section1 .cont-section .sec-cont {
      padding: 0 15px; }
      .section1 .cont-section .sec-cont a {
        text-decoration: none;
        color: black; }
    .section1 .cont-section:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .section1 .cont-section .sec-tittle h1 {
      font-size: 25px;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      font-weight: 700; }
    .section1 .cont-section .sec-description {
      font-size: 15px;
      font-family: 'Lato', sans-serif; }
    .section1 .cont-section .share {
      width: 100%;
      display: inline-block;
      margin-top: 115px; }
      .section1 .cont-section .share .text-sh {
        padding: 5px; }
      .section1 .cont-section .share .icon-sh {
        font-weight: 700; }
      .section1 .cont-section .share .icon-sh2 {
        display: inline-block;
        float: right;
        padding-right: 10px; }

/*=========Section №2==========*/
.Section2 {
  padding: 0 45px 25px 45px;
  width: 100%;
  height: 440px; }
  .Section2 .cll {
    margin: 7px; }
  .Section2 .cont2-1 {
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/trainingcomplex.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .Section2 .cont2-1 a {
      text-decoration: none; }
    .Section2 .cont2-1 .cont2-1-icon {
      margin-top: 170px;
      width: 50px;
      height: 50px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section2 .cont2-1 .cont2-1-text {
      color: white;
      text-transform: uppercase; }
    .Section2 .cont2-1 .share {
      color: white; }
      .Section2 .cont2-1 .share .icon-sh2 {
        color: white;
        float: right; }
  .Section2 .cont2-2 {
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/Old_Trafford_inside_20060726_1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150px; }
    .Section2 .cont2-2 .animate {
      margin-top: -10px; }
    .Section2 .cont2-2 a {
      text-decoration: none; }
    .Section2 .cont2-2 .cont2-2-desc {
      color: black;
      margin-top: 180px; }
      .Section2 .cont2-2 .cont2-2-desc h1 {
        font-size: 23px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 700; }
      .Section2 .cont2-2 .cont2-2-desc .cont2-2-desc-text {
        padding: 5px;
        font-size: 15px; }
    .Section2 .cont2-2 .share {
      padding-top: 55px; }
      .Section2 .cont2-2 .share .icon-sh2 {
        float: right; }
  .Section2 .cont2-3 {
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/reds-duo-ruled-out-of-burnley-game.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 150px; }
    .Section2 .cont2-3 .animate {
      margin-top: -10px; }
    .Section2 .cont2-3 a {
      text-decoration: none; }
    .Section2 .cont2-3 .cont2-3-desc {
      color: black;
      margin-top: 180px; }
      .Section2 .cont2-3 .cont2-3-desc h1 {
        font-size: 23px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 700; }
      .Section2 .cont2-3 .cont2-3-desc .cont2-3-desc-text {
        padding: 5px;
        font-size: 15px; }
    .Section2 .cont2-3 .share {
      padding-top: 55px; }
      .Section2 .cont2-3 .share .icon-sh2 {
        float: right; }
  .Section2 .cont2-4 {
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/tranning.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    .Section2 .cont2-4 a {
      text-decoration: none; }
    .Section2 .cont2-4 .cont2-4-icon {
      margin-top: 210px;
      width: 50px;
      height: 50px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png");
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .Section2 .cont2-4 .cont2-4-text {
      color: white;
      text-transform: uppercase; }
    .Section2 .cont2-4 .share {
      color: white; }
      .Section2 .cont2-4 .share .icon-sh2 {
        color: white;
        float: right; }

/*-----line-----*/
/*-----section#3----*/
.Section3 {
  padding: 0 45px 0 45px;
  width: 100%;
  height: 370px; }
  .Section3 .contsection3-1 {
    width: 600px;
    height: 340px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/greenwoodA94T6822_20210418510102731640806170462_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
    .Section3 .contsection3-1 .animate {
      margin-top: 130px; }
    .Section3 .contsection3-1 .contsection3-1-icon {
      width: 50px;
      height: 50px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png");
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .Section3 .contsection3-1 a {
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
    .Section3 .contsection3-1:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .Section3 .contsection3-1 .share {
      color: white;
      margin-top: 25px; }
      .Section3 .contsection3-1 .share .icon-sh2 {
        float: right; }
  .Section3 .cs3 {
    margin: 13px; }
  .Section3 .contsection3-2 {
    width: 600px;
    height: 340px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/Ralf.Rangnick.presser-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
    .Section3 .contsection3-2 .animate {
      margin-top: 170px; }
    .Section3 .contsection3-2 .contsection3-2-icon {
      width: 50px;
      height: 50px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png");
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .Section3 .contsection3-2 a {
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
    .Section3 .contsection3-2:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .Section3 .contsection3-2 .share {
      color: white;
      margin-top: 25px; }
      .Section3 .contsection3-2 .share .icon-sh2 {
        float: right; }

/*-----section#4----*/
.Section4 {
  padding: 0 45px 25px 60px;
  width: 100%;
  height: 450px; }
  .Section4 .sc4 {
    margin: 7px; }
  .Section4 .cont4-1 {
    height: 410px;
    width: 290px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/f0c270d6-d6fe-4e4a-b423-b1dcdabbda52.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .Section4 .cont4-1 a {
      text-decoration: none; }
    .Section4 .cont4-1 .cont4-1-icon {
      margin-top: 155px;
      width: 50px;
      height: 50px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section4 .cont4-1 .cont4-1-text {
      color: white;
      text-transform: uppercase; }
      .Section4 .cont4-1 .cont4-1-text h1 {
        font-size: 27px; }
    .Section4 .cont4-1 .share {
      color: white; }
      .Section4 .cont4-1 .share .icon-sh2 {
        color: white;
        float: right; }
  .Section4 .cont4-2 {
    height: 410px;
    width: 290px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/0_Manchester-United-versus-Celtic-October-2008.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .Section4 .cont4-2 a {
      text-decoration: none; }
    .Section4 .cont4-2 .cont4-2-icon {
      margin-top: 170px;
      width: 50px;
      height: 50px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section4 .cont4-2 .cont4-2-text {
      color: white;
      text-transform: uppercase; }
      .Section4 .cont4-2 .cont4-2-text h1 {
        font-size: 28px; }
    .Section4 .cont4-2 .share {
      margin-top: 20px;
      color: white; }
      .Section4 .cont4-2 .share .icon-sh2 {
        color: white;
        float: right; }
  .Section4 .cont4-3 {
    height: 410px;
    width: 290px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/1_GettyImages-1288517706.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .Section4 .cont4-3 a {
      text-decoration: none; }
    .Section4 .cont4-3 .cont4-3-icon {
      margin-top: 170px;
      width: 50px;
      height: 50px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section4 .cont4-3 .cont4-3-text {
      color: white;
      text-transform: uppercase; }
      .Section4 .cont4-3 .cont4-3-text h1 {
        font-size: 27px; }
    .Section4 .cont4-3 .share {
      margin-top: 25px;
      color: white; }
      .Section4 .cont4-3 .share .icon-sh2 {
        color: white;
        float: right; }
  .Section4 .cont4-4 {
    height: 410px;
    width: 290px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/IMG_8970_20210911350226611631379599463_large.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .Section4 .cont4-4 a {
      text-decoration: none; }
    .Section4 .cont4-4 .cont4-4-icon {
      margin-top: 170px;
      width: 50px;
      height: 50px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section4 .cont4-4 .cont4-4-text {
      color: white;
      text-transform: uppercase; }
      .Section4 .cont4-4 .cont4-4-text h1 {
        font-size: 27px; }
    .Section4 .cont4-4 .share {
      margin-top: 25px;
      color: white; }
      .Section4 .cont4-4 .share .icon-sh2 {
        color: white;
        float: right; }

/*-----section#5----*/
.Section5 {
  width: 100%;
  height: 600px;
  background-color: white;
  background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/SAF_Birthday-Wayin-Header_v3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 590px; }
  .Section5 .sect5-text {
    padding-top: 480px; }
    .Section5 .sect5-text h1 {
      font-size: 50px;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }

/*-----section#6----*/
.section6 {
  width: 100%;
  height: 450px; }
  .section6 .img-fixed {
    width: 100%;
    height: 100%;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/header6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }

/*-----section#7----*/
.Section7 {
  padding: 0 45px 0 45px;
  width: 100%;
  height: 370px; }
  .Section7 .contsection7-1 {
    width: 600px;
    height: 340px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/greenwoodA94T6822_20210418510102731640806170462_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
    .Section7 .contsection7-1 .animate {
      margin-top: 130px; }
    .Section7 .contsection7-1 .contsection7-1-icon {
      width: 50px;
      height: 50px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png");
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .Section7 .contsection7-1 a {
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
    .Section7 .contsection7-1:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .Section7 .contsection7-1 .share {
      color: white;
      margin-top: 25px; }
      .Section7 .contsection7-1 .share .icon-sh2 {
        float: right; }
  .Section7 .cs7 {
    margin: 13px; }
  .Section7 .contsection7-2 {
    width: 600px;
    height: 340px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/Ralf.Rangnick.presser-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
    .Section7 .contsection7-2 a {
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
      .Section7 .contsection7-2 a .contsection7-2-button {
        width: 150px;
        height: 50px;
        text-align: center;
        padding: 12px;
        margin: 270px 0 0 10px;
        border: 2px solid white;
        border-radius: 30px;
        font-weight: 500;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
        .Section7 .contsection7-2 a .contsection7-2-button:hover {
          background-color: #858482;
          -webkit-transition: all 0.8s;
          -o-transition: all 0.8s;
          transition: all 0.8s; }
    .Section7 .contsection7-2:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }

/*=========Section №8==========*/
.Section8 {
  padding: 0 45px 25px 63px;
  width: 100%;
  height: 440px; }
  .Section8 .cll8 {
    margin: 7px; }
  .Section8 .cont8-1 {
    height: 410px;
    width: 290px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/adidas_original_manchester_uni_1638586479_756ba388_progressive.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .Section8 .cont8-1 a {
      text-decoration: none;
      color: white; }
      .Section8 .cont8-1 a .cont8-1-desc {
        margin-top: 285px;
        text-align: center;
        text-transform: uppercase; }
        .Section8 .cont8-1 a .cont8-1-desc h1 {
          font-size: 23px;
          font-weight: 700; }
        .Section8 .cont8-1 a .cont8-1-desc .cont8-1-desc-button {
          margin: 0 auto;
          margin-top: 15px;
          padding: 12px 5px 0 5px;
          width: 160px;
          height: 50px;
          border: 2px solid white;
          border-radius: 25px;
          font-weight: 500;
          -webkit-transition: all 0.8s;
          -o-transition: all 0.8s;
          transition: all 0.8s; }
          .Section8 .cont8-1 a .cont8-1-desc .cont8-1-desc-button:hover {
            background-color: #858482;
            -webkit-transition: all 0.8s;
            -o-transition: all 0.8s;
            transition: all 0.8s; }
  .Section8 .cont8-2 {
    height: 410px;
    width: 290px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/Media_Watch_Old_Trafford_exterior_dusk_11619166772476_large.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150px; }
    .Section8 .cont8-2 .animate {
      margin-top: -10px; }
    .Section8 .cont8-2 a {
      text-decoration: none; }
    .Section8 .cont8-2 .cont8-2-desc {
      color: black;
      margin-top: 180px; }
      .Section8 .cont8-2 .cont8-2-desc h1 {
        font-size: 23px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 700; }
      .Section8 .cont8-2 .cont8-2-desc .cont8-2-desc-text {
        padding: 5px;
        font-size: 15px; }
    .Section8 .cont8-2 .share {
      padding-top: 25px; }
      .Section8 .cont8-2 .share .icon-sh2 {
        float: right; }
  .Section8 .cont8-3 {
    height: 410px;
    width: 290px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/Без названия.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150px; }
    .Section8 .cont8-3 .animate {
      margin-top: -10px; }
    .Section8 .cont8-3 a {
      text-decoration: none; }
    .Section8 .cont8-3 .cont8-3-desc {
      color: black;
      margin-top: 180px; }
      .Section8 .cont8-3 .cont8-3-desc h1 {
        font-size: 23px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 700; }
      .Section8 .cont8-3 .cont8-3-desc .cont8-3-desc-text {
        padding: 5px;
        font-size: 15px; }
    .Section8 .cont8-3 .share {
      padding-top: 3px; }
      .Section8 .cont8-3 .share .icon-sh2 {
        float: right; }
  .Section8 .cont8-4 {
    height: 410px;
    width: 290px;
    background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/tumblr_38e3f4eb7caf6cabfc128974282585c3_156f13f7_540.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    .Section8 .cont8-4 a {
      text-decoration: none;
      color: white; }
      .Section8 .cont8-4 a .cont8-4-desc {
        margin-top: 260px;
        text-align: center;
        text-transform: uppercase; }
        .Section8 .cont8-4 a .cont8-4-desc h1 {
          font-size: 23px;
          font-weight: 700; }
        .Section8 .cont8-4 a .cont8-4-desc .cont8-4-desc-button {
          margin: 0 auto;
          margin-top: 15px;
          padding: 12px 5px 5px 5px;
          width: 230px;
          height: 50px;
          border: 2px solid white;
          border-radius: 25px;
          font-weight: 500;
          -webkit-transition: all 0.8s;
          -o-transition: all 0.8s;
          transition: all 0.8s; }
          .Section8 .cont8-4 a .cont8-4-desc .cont8-4-desc-button:hover {
            background-color: #858482;
            -webkit-transition: all 0.8s;
            -o-transition: all 0.8s;
            transition: all 0.8s; }

/*=========Section №9==========*/
.Section9 {
  width: 100%;
  height: 530px;
  background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/59a1356d10f29543ee1fa003ef55c8c4.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover; }
  .Section9 .sec9-desc {
    padding-left: 10px;
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .Section9 .sec9-desc h1 {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      color: white; }
    .Section9 .sec9-desc span {
      text-transform: uppercase;
      margin-left: 30px;
      padding-top: 10px;
      font-weight: 700;
      font-size: 15px;
      color: white; }
  .Section9 .owl-carousel {
    width: 100%;
    height: 500px;
    padding-top: 20px; }
    .Section9 .owl-carousel .item {
      background-color: white;
      border-radius: 10px;
      height: 350px;
      width: 250px;
      overflow: hidden; }
      .Section9 .owl-carousel .item:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(9, 34, 253, 0.19);
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
    .Section9 .owl-carousel .sc1-desc a {
      text-decoration: none;
      color: black; }
    .Section9 .owl-carousel .sc1-desc .sc1-desc-img {
      width: 100%;
      height: 200px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/man-utd-21-22-long-sleeve-home-shirt-front.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section9 .owl-carousel .sc1-desc .sc1-desc-text {
      padding: 0 10px 0 10px;
      text-align: center;
      margin-top: 20px; }
    .Section9 .owl-carousel .sc1-desc .sc1-desc-button {
      padding-top: 7px;
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      width: 120px;
      height: 40px;
      border: 0.5px solid gray;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 500;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
      .Section9 .owl-carousel .sc1-desc .sc1-desc-button:hover {
        background-color: #b8b4b4;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
    .Section9 .owl-carousel .sc2-desc a {
      text-decoration: none;
      color: black; }
    .Section9 .owl-carousel .sc2-desc .sc2-desc-img {
      width: 100%;
      height: 200px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/manchester-united-home-authentic-shirt-2021-22-with-ronaldo-7-printing_ss4_p-12093041+pv-2+u-v9lvbdd0myghid4qkgl0+v-4685241eae0b4da3b868cd5b8c71fa68.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section9 .owl-carousel .sc2-desc .sc2-desc-text {
      padding: 0 10px 0 10px;
      text-align: center;
      margin-top: 10px; }
    .Section9 .owl-carousel .sc2-desc .sc2-desc-button {
      padding-top: 7px;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
      width: 120px;
      height: 40px;
      border: 0.5px solid gray;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 500;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
      .Section9 .owl-carousel .sc2-desc .sc2-desc-button:hover {
        background-color: #b8b4b4;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
    .Section9 .owl-carousel .sc3-desc a {
      text-decoration: none;
      color: black; }
    .Section9 .owl-carousel .sc3-desc .sc3-desc-img {
      width: 100%;
      height: 200px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/adidas-manchester-united-trikot-away-21-22-weiss-b-gm4621-flock-fan-shop_front.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section9 .owl-carousel .sc3-desc .sc3-desc-text {
      padding: 0 10px 0 10px;
      text-align: center;
      margin-top: 20px; }
    .Section9 .owl-carousel .sc3-desc .sc3-desc-button {
      padding-top: 7px;
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      width: 120px;
      height: 40px;
      border: 0.5px solid gray;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 500;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
      .Section9 .owl-carousel .sc3-desc .sc3-desc-button:hover {
        background-color: #b8b4b4;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
    .Section9 .owl-carousel .sc4-desc a {
      text-decoration: none;
      color: black; }
    .Section9 .owl-carousel .sc4-desc .sc4-desc-img {
      width: 100%;
      height: 200px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/c23e1a1e7c3a.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section9 .owl-carousel .sc4-desc .sc4-desc-text {
      padding: 0 10px 0 10px;
      text-align: center;
      margin-top: 10px; }
    .Section9 .owl-carousel .sc4-desc .sc4-desc-button {
      padding-top: 7px;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
      width: 120px;
      height: 40px;
      border: 0.5px solid gray;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 500;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
      .Section9 .owl-carousel .sc4-desc .sc4-desc-button:hover {
        background-color: #b8b4b4;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
    .Section9 .owl-carousel .sc5-desc a {
      text-decoration: none;
      color: black; }
    .Section9 .owl-carousel .sc5-desc .sc5-desc-img {
      width: 100%;
      height: 200px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/man_prz_d_3_4_2_1_1.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section9 .owl-carousel .sc5-desc .sc5-desc-text {
      padding: 0 10px 0 10px;
      text-align: center;
      margin-top: 20px; }
    .Section9 .owl-carousel .sc5-desc .sc5-desc-button {
      padding-top: 7px;
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      width: 120px;
      height: 40px;
      border: 0.5px solid gray;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 500;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
      .Section9 .owl-carousel .sc5-desc .sc5-desc-button:hover {
        background-color: #b8b4b4;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
    .Section9 .owl-carousel .sc6-desc a {
      text-decoration: none;
      color: black; }
    .Section9 .owl-carousel .sc6-desc .sc6-desc-img {
      width: 100%;
      height: 200px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/manchester-united-cup-home-shirt-2021-22-kids-with-rashford-10-printing_ss4_p-12075858+pv-2+u-13ibzilnnt3gxyt0aosw+v-154977bc38b246b685ed104871111ede.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section9 .owl-carousel .sc6-desc .sc6-desc-text {
      padding: 0 10px 0 10px;
      text-align: center;
      margin-top: 10px; }
    .Section9 .owl-carousel .sc6-desc .sc6-desc-button {
      padding-top: 7px;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
      width: 120px;
      height: 40px;
      border: 0.5px solid gray;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 500;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
      .Section9 .owl-carousel .sc6-desc .sc6-desc-button:hover {
        background-color: #b8b4b4;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
    .Section9 .owl-carousel .sc7-desc a {
      text-decoration: none;
      color: black; }
    .Section9 .owl-carousel .sc7-desc .sc7-desc-img {
      width: 100%;
      height: 200px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/37840018_l.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section9 .owl-carousel .sc7-desc .sc7-desc-text {
      padding: 0 10px 0 10px;
      text-align: center;
      margin-top: 20px; }
    .Section9 .owl-carousel .sc7-desc .sc7-desc-button {
      padding-top: 7px;
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      width: 120px;
      height: 40px;
      border: 0.5px solid gray;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 500;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
      .Section9 .owl-carousel .sc7-desc .sc7-desc-button:hover {
        background-color: #b8b4b4;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
    .Section9 .owl-carousel .sc8-desc a {
      text-decoration: none;
      color: black; }
    .Section9 .owl-carousel .sc8-desc .sc8-desc-img {
      width: 100%;
      height: 200px;
      background-image: url("C:/Users/User/Desktop/Индивидуальный проект/img/manchester-united-home-shirt-2021-22-with-bfernandes-18-printing_ss4_p-12075114+u-1bpbdrqcosuw29h6lq3m+v-c0d7c7c7e4ed462186430ba879489593.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .Section9 .owl-carousel .sc8-desc .sc8-desc-text {
      padding: 0 10px 0 10px;
      text-align: center;
      margin-top: 10px; }
    .Section9 .owl-carousel .sc8-desc .sc8-desc-button {
      padding-top: 7px;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
      width: 120px;
      height: 40px;
      border: 0.5px solid gray;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 500;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s; }
      .Section9 .owl-carousel .sc8-desc .sc8-desc-button:hover {
        background-color: #b8b4b4;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s; }
    .Section9 .owl-carousel .owl-prev {
      width: 50px;
      height: 50px;
      background-color: white !important;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .Section9 .owl-carousel .owl-prev:hover {
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        background-color: gray !important;
        color: black !important; }
      .Section9 .owl-carousel .owl-prev span {
        font-size: 35px; }
    .Section9 .owl-carousel .owl-next {
      width: 50px;
      height: 50px;
      background-color: white !important;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .Section9 .owl-carousel .owl-next:hover {
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        background-color: gray !important;
        color: black !important; }
      .Section9 .owl-carousel .owl-next span {
        font-size: 35px; }

/*=========Section №10==========*/
.fonts {
  width: 100%;
  height: 400px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column; }
  .fonts .fonts_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .fonts .fonts_1 a {
      margin: 20px 25px 0 0; }
  .fonts .fonts_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .fonts .fonts_2 a {
      margin: 20px 25px 0 0; }
  .fonts .fonts_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .fonts .fonts_3 a {
      margin: 20px 25px 0 0; }

/*=========Footer==========*/
.footer {
  width: 100%;
  height: 150px;
  background-color: #252525; }
  .footer .foot_icon1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 60px 0 0 -0;
    margin: 0 0 0 -20px; }
    .footer .foot_icon1 a {
      text-decoration: none; }
    .footer .foot_icon1 .foot_icon {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: #525252;
      margin: 8px; }
      .footer .foot_icon1 .foot_icon:hover {
        background-color: red; }
      .footer .foot_icon1 .foot_icon a {
        background-image: url("");
        font-size: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: white;
        margin: 10px 0 0 0; }
    .footer .foot_icon1 .foot_button1 {
      width: 110px;
      height: 50px;
      border-radius: 30px;
      background-color: #252525;
      color: wheat;
      border: 1px solid gray;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-transform: uppercase;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 15px;
      margin: 0 0 0 40px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .footer .foot_icon1 .foot_button1:hover {
        background-color: #4b4b4b; }
    .footer .foot_icon1 .foot_button2 {
      width: 110px;
      height: 50px;
      border-radius: 30px;
      background-color: #c50505;
      color: wheat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-transform: uppercase;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 15px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      margin: 0 0 0 8px; }
      .footer .foot_icon1 .foot_button2:hover {
        background-color: #990000; }

.footer_bottom {
  width: 100%;
  height: 50px;
  background-color: #1b1b1b;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid gray; }
  .footer_bottom a {
    text-decoration: none; }
  .footer_bottom .element {
    margin: 0 10px; }
    .footer_bottom .element a {
      color: wheat;
      font-size: 15px;
      font-family: sans-serif; }
      .footer_bottom .element a:hover {
        text-decoration: underline; }
  .footer_bottom .element1 {
    margin: 0 0 0 50px;
    color: #8b8b8b;
    font-size: 15px;
    font-family: sans-serif; }
    .footer_bottom .element1 img {
      color: #8b8b8b; }
