@import "nullstyle.scss";

/*animate*/
%animate{
   &:hover .animate{
      width: 65px;
      transition: 1s;
      
   }
  .animate{
     margin: 15px 0 15px 5px;
     width: 0px;
     height: 2.5px;
     background-color: red;
  }
}
%line{
   width: 100%;
   height: 20px;
    background-color: white;
    margin: 15px 0 15px 0;
}
/*Секция№2*/ 
//cont
%sec-2-cont{
   width: 300px;
   height: 420px;
   background-color:white;
   border-radius: 10px;
   overflow: hidden;
   &:hover{
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
        0 6px 20px 0 rgba(9, 34, 253, 0.19);
      transition: all 0.5s;
}
}


body {
   box-sizing: border-box;
   background-color: rgba(243, 243, 243, 0.973) !important  ;
 } 
/*Header*/
.head-top{
   width: 100%;
   height: 30px;
   background-color: #1a1a1a;
   display: flex;
   justify-content: space-between;
   .head-left{
      padding: 5px;
      color: white;
      .img-left{
         margin-top: -4px;
      }
      .sign{
         font-family: 'Lato', sans-serif;
      }  
   }
   .head-right{
      display: flex;
      padding: 5px;
      width:235px;
      .log{
         & a{
            text-decoration: none;
         }
         margin-right: 10px;
         .team-viewer{
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            color: white;
         }
         .team-viewer2{
            font-family: 'Lato', sans-serif;
            color: white;
         }
         .text-kohler{
            
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
         }
      }
   }

}
/*Menu*/

.navbar{
   height: 55px;
   background-color: #c70101;
  & a{
   font-family: 'Lato', sans-serif;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   color: white;
  }
.nav-link:hover{
color: black;
transition: 0.5s;
}
  .d-flex{
   transition: 3s;
     color: white;
     margin-right: 30px;
   .form-control{
      display: none;
   }
   &:hover .form-control{
display: block;
transition:  3s;
   }
   &:hover .search{
      display: none;
      transition: 3s;
   }
  } 
  .pow{
     display: inline-block;
     background-color: black;
     border-radius: 5px;
     color: white;
     padding:5px;
     font-size: 10px;
     text-transform:none;
     .hcl{
        text-transform: uppercase;
        font-weight: 700;
        font-style: 20px;
     }
  }
}


/*Карусель*/
.carousel-fade{
   width: 100%;
   height: 600px;
   .carousel-inner{
      width: 100%;
      height: 600px; 
   }
   .carousel-caption{
      margin-bottom: 120px;
      & h5{
         font-size: 50px;
         text-transform: uppercase;
         font-weight: 700;
         color: whitesmoke;
         float: left;
      }
   }
   .cl{
      margin-bottom: 40px;
      & h5{
         font-size: 48px;
         text-transform: uppercase;
         font-weight: 700;
         color: whitesmoke;
         float: left;
      }
   }
}
.obsh{
   width: 100%;
   height: 2500px;
}
.navbar{
   z-index: 3;
}


/*=========Section №1==========*/
.section1{ 
   padding: 25px 45px 25px 45px;
   display: flex;
   width: 100%;
   height: 400px;
   .link-contsec{
      display: block;
   }
.cont-section{
   width: 600px;
   height: 350px;
   background-color: white;
   border-radius: 10px;
   overflow: hidden;
   transition: all 0.5s;
   &:hover .img-sec-cont{
      transition: all 0.5s;
      width: 320px;
      height: 380px;
   }
   .sec-img{
      overflow: hidden;
      .img-sec-cont{
         margin-left: -11px;
      }
   }
   .sec-cont{
      padding: 0 15px;
      & a{
         text-decoration: none;
         color: black;
      }
   }
   &:hover {
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
        0 6px 20px 0 rgba(9, 34, 253, 0.19);
      transition: all 0.5s;
    }
  @extend %animate;
  .sec-tittle{
     h1{
        font-size: 25px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
       
     }
  }
  .sec-description{
   font-size: 15px;
   font-family: 'Lato', sans-serif;
  }
  .share{
     width: 100%;
     display: inline-block;
     margin-top: 115px;
     .text-sh{
        padding: 5px;
     }
     .icon-sh{
        font-weight: 700;
     }
     .icon-sh2{
      display: inline-block;
      float:right;
      padding-right: 10px;
   }
  }
}

}

/*=========Section №2==========*/
.Section2{

padding: 0 45px 25px 45px;
width: 100%;
height: 440px;

.cll{
   margin: 7px;
}

.cont2-1{
   @extend %animate;
   @extend %sec-2-cont;
      background-image:url('C:/Users/User/Desktop/Индивидуальный проект/img/trainingcomplex.jpg');
      background-repeat:no-repeat;
      background-size:cover;
      & a{
         text-decoration:none;
      }

      .cont2-1-icon{
         margin-top: 170px;
         width: 50px;
         height: 50px;
         background-image: url('C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png');
         background-repeat: no-repeat;
         background-size:cover;
      }

      .cont2-1-text{
      color:white;
      text-transform: uppercase;
      
   }
   .share{
 
      color:white;
      .icon-sh2{
         color:white;
         float: right;
      }
   }

}

.cont2-2{
   @extend %animate;
   @extend %sec-2-cont;
   .animate{
      margin-top: -10px;
   }
      background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/Old_Trafford_inside_20060726_1.jpg");
      background-repeat:no-repeat;
      background-size:100% 150px;
      & a{
         text-decoration: none;
      }
   .cont2-2-desc{
      color:black;
      margin-top: 180px;
      & h1{
         font-size: 23px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
      }
      .cont2-2-desc-text{
         padding:5px;
         font-size: 15px;
      }
   }
   .share{
      .icon-sh2{
         float: right;
      }
      padding-top: 55px
   }
}

.cont2-3{
   @extend %animate;
   @extend %sec-2-cont;
   .animate{
      margin-top: -10px;
   }
      background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/reds-duo-ruled-out-of-burnley-game.jpeg");
      background-repeat:no-repeat;
      background-size:100% 150px;
      & a{
         text-decoration: none;
      }
   .cont2-3-desc{
      color:black;
      margin-top: 180px;
      & h1{
         font-size: 23px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
      }
      .cont2-3-desc-text{
         padding:5px;
         font-size: 15px;
      }
   }
   .share{
      .icon-sh2{
         float: right;
      }
      padding-top: 55px
   }
}

.cont2-4{
   @extend %animate;
   @extend %sec-2-cont;
  background-image:url('C:/Users/User/Desktop/Индивидуальный проект/img/tranning.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  & a{
   text-decoration:none;
}

.cont2-4-icon{
   margin-top: 210px;
   width: 50px;
   height: 50px;
   background-image: url('C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png');
   background-repeat: no-repeat;
   background-size:cover;
   transition: all 0.5s;
}

.cont2-4-text{
color:white;
text-transform: uppercase;

}
.share{
 
   color:white;
   .icon-sh2{
      color:white;
      float: right;
   }
}

}

}

/*-----line-----*/
.line{
   @extend %line;
}

/*-----section#3----*/
.Section3{

   padding: 0 45px 0 45px;
   width: 100%;
   height: 370px;


   .contsection3-1{
      @extend %animate;
      .animate{
         margin-top: 130px;
      }
      .contsection3-1-icon{
        
         width: 50px;
         height: 50px;
         background-image: url('C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png');
         background-repeat: no-repeat;
         background-size:cover;
         transition: all 0.5s;
      }
      & a{
         color:white;
         text-decoration: none;
         text-transform: uppercase;
      }
      width: 600px;
      height: 340px;
      background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/greenwoodA94T6822_20210418510102731640806170462_large.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      border-radius: 10px;
      &:hover {
         cursor: pointer;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
           0 6px 20px 0 rgba(9, 34, 253, 0.19);
         transition: all 0.5s;
       }
       .share{
          color:white;
          margin-top: 25px;
         .icon-sh2{
            float: right;
         }
       }
   }
.cs3{
   margin: 13px;
}
   .contsection3-2{
      @extend %animate;
      .animate{
         margin-top: 170px;
      }
      .contsection3-2-icon{
        
         width: 50px;
         height: 50px;
         background-image: url('C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png');
         background-repeat: no-repeat;
         background-size:cover;
         transition: all 0.5s;
      }
      & a{
         color:white;
         text-decoration: none;
         text-transform: uppercase;
      }
      width: 600px;
      height: 340px;
      background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/Ralf.Rangnick.presser-1.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      border-radius: 10px;
      &:hover {
         cursor: pointer;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
           0 6px 20px 0 rgba(9, 34, 253, 0.19);
         transition: all 0.5s;
       }
       .share{
          color:white;
          margin-top: 25px;
         .icon-sh2{
            float: right;
         }
       }
   }

}

/*-----section#4----*/
.Section4{
   padding: 0 45px 25px 60px;
width: 100%;
height: 450px;

.sc4{
   margin: 7px;
}

.cont4-1{
   @extend %animate;
   @extend %sec-2-cont;
   height: 410px;
   width: 290px;
      background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/f0c270d6-d6fe-4e4a-b423-b1dcdabbda52.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      & a{
         text-decoration:none;
      }

      .cont4-1-icon{
         margin-top: 155px;
         width: 50px;
         height: 50px;
         background-image: url('C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png');
         background-repeat: no-repeat;
         background-size:cover;
      }

      .cont4-1-text{
      & h1{
         font-size: 27px;
      }
      color:white;
      text-transform: uppercase;
      
   }
   .share{
 
      color:white;
      .icon-sh2{
         color:white;
         float: right;
      }
   }

}
//#2
.cont4-2{
   @extend %animate;
   @extend %sec-2-cont;
   height: 410px;
   width: 290px;
      background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/0_Manchester-United-versus-Celtic-October-2008.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      & a{
         text-decoration:none;
      }

      .cont4-2-icon{
         margin-top: 170px;
         width: 50px;
         height: 50px;
         background-image: url('C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png');
         background-repeat: no-repeat;
         background-size:cover;
      }

      .cont4-2-text{
      & h1{
         font-size: 28px;
      }
      color:white;
      text-transform: uppercase;
      
   }
   .share{
      margin-top: 20px;
      color:white;
      .icon-sh2{
         color:white;
         float: right;
      }
   }
}
//#3
.cont4-3{
   @extend %animate;
   @extend %sec-2-cont;
   height: 410px;
   width: 290px;
      background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/1_GettyImages-1288517706.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      & a{
         text-decoration:none;
      }

      .cont4-3-icon{
         margin-top: 170px;
         width: 50px;
         height: 50px;
         background-image: url('C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png');
         background-repeat: no-repeat;
         background-size:cover;
      }

      .cont4-3-text{
      & h1{
         font-size: 27px;
      }
      color:white;
      text-transform: uppercase;
      
   }
   .share{
 margin-top: 25px;
      color:white;
      .icon-sh2{
         color:white;
         float: right;
      }
   }
}
//#4
.cont4-4{
   @extend %animate;
   @extend %sec-2-cont;
   height: 410px;
   width: 290px;
      background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/IMG_8970_20210911350226611631379599463_large.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      & a{
         text-decoration:none;
      }

      .cont4-4-icon{
         margin-top: 170px;
         width: 50px;
         height: 50px;
         background-image: url('C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png');
         background-repeat: no-repeat;
         background-size:cover;
      }

      .cont4-4-text{
      & h1{
         font-size: 27px;
      }
      color:white;
      text-transform: uppercase;
      
   }
   .share{
 margin-top: 25px;
      color:white;
      .icon-sh2{
         color:white;
         float: right;
      }
   }
}
}

/*-----section#5----*/

.Section5{
   @extend %animate;
   width: 100%;
   height: 600px;
   background-color:white;
   background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/SAF_Birthday-Wayin-Header_v3.jpg");
   background-repeat:no-repeat;
   background-size:100% 590px;
   .sect5-text{
      padding-top: 480px;
      & h1{
         font-size: 50px;
         color:white;
         text-transform: uppercase;
         font-weight: 700;
      }
   }
}

/*-----section#6----*/
.section6{
width: 100%;
height: 450px;
.img-fixed{
   width: 100%;
   height: 100%;
   background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/header6.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   background-attachment: fixed;
}
}

/*-----section#7----*/
.Section7{

   padding: 0 45px 0 45px;
   width: 100%;
   height: 370px;


   .contsection7-1{
      @extend %animate;
      .animate{
         margin-top: 130px;
      }
      .contsection7-1-icon{
        
         width: 50px;
         height: 50px;
         background-image: url('C:/Users/User/Desktop/Индивидуальный проект/fon-icon/icons8-youtube-94.png');
         background-repeat: no-repeat;
         background-size:cover;
         transition: all 0.5s;
      }
      & a{
         color:white;
         text-decoration: none;
         text-transform: uppercase;
      }
      width: 600px;
      height: 340px;
      background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/greenwoodA94T6822_20210418510102731640806170462_large.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      border-radius: 10px;
      &:hover {
         cursor: pointer;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
           0 6px 20px 0 rgba(9, 34, 253, 0.19);
         transition: all 0.5s;
       }
       .share{
          color:white;
          margin-top: 25px;
         .icon-sh2{
            float: right;
         }
       }
   }
.cs7{
   margin: 13px;
}
   .contsection7-2{
      & a{
         color:white;
         text-decoration: none;
         text-transform: uppercase;
         .contsection7-2-button{
            width: 150px;
            height: 50px;
            text-align: center;
            padding: 12px;
            margin: 270px 0 0 10px;
            border: 2px solid white;
            border-radius:30px;
            font-weight: 500;
            transition: all 0.8s;
            &:hover{
               background-color: rgb(133, 132, 130);
               transition: all 0.8s;
            }
         }
      }
      width: 600px;
      height: 340px;
      background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/Ralf.Rangnick.presser-1.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      border-radius: 10px;
      &:hover {
         cursor: pointer;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
           0 6px 20px 0 rgba(9, 34, 253, 0.19);
         transition: all 0.5s;
       }
   }

}


/*=========Section №8==========*/
.Section8{

   padding: 0 45px 25px 63px;
   width: 100%;
   height: 440px;
   
   .cll8{
      margin: 7px;
   }
   
   .cont8-1{
      @extend %animate;
      @extend %sec-2-cont;
      height: 410px;
      width: 290px;
         background-image:url('C:/Users/User/Desktop/Индивидуальный проект/img/adidas_original_manchester_uni_1638586479_756ba388_progressive.jpg');
         background-repeat:no-repeat;
         background-size:cover;
         & a{
            text-decoration:none;
            color:white;
            .cont8-1-desc{
               margin-top: 285px;
               text-align: center;
               text-transform: uppercase;
               h1{
                  font-size: 23px;
                  font-weight: 700;
               }
               .cont8-1-desc-button{
                  margin: 0 auto;
                  margin-top: 15px;
                  padding:12px 5px 0 5px;
                  width: 160px;
                  height: 50px;
                  border: 2px solid white;
                  border-radius:25px;
                  font-weight:500;
                  transition: all 0.8s;
                  &:hover{
                     background-color: rgb(133, 132, 130);
                     transition: all 0.8s;
                  }
               }
            }
         }
   }
   //#2
   .cont8-2{
      @extend %animate;
      @extend %sec-2-cont;
      height: 410px;
      width: 290px;
      .animate{
         margin-top: -10px;
      }
         background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/Media_Watch_Old_Trafford_exterior_dusk_11619166772476_large.jpg");
         background-repeat:no-repeat;
         background-size:100% 150px;
         & a{
            text-decoration: none;
         }
      .cont8-2-desc{
         color:black;
         margin-top: 180px;
         & h1{
            font-size: 23px;
           font-family: 'Lato', sans-serif;
           text-transform: uppercase;
           font-weight: 700;
         }
         .cont8-2-desc-text{
            padding:5px;
            font-size: 15px;
         }
      }
      .share{
         .icon-sh2{
            float: right;
         }
         padding-top: 25px
      }
   }
   //#3
   .cont8-3{
      @extend %animate;
      @extend %sec-2-cont;
      height: 410px;
      width: 290px;
      .animate{
         margin-top: -10px;
      }
         background-image:url("C:/Users/User/Desktop/Индивидуальный проект/img/Без названия.jpg");
         background-repeat:no-repeat;
         background-size:100% 150px;
         & a{
            text-decoration: none;
         }
      .cont8-3-desc{
         color:black;
         margin-top: 180px;
         & h1{
            font-size: 23px;
           font-family: 'Lato', sans-serif;
           text-transform: uppercase;
           font-weight: 700;
         }
         .cont8-3-desc-text{
            padding:5px;
            font-size: 15px;
         }
      }
      .share{
         .icon-sh2{
            float: right;
         }
         padding-top: 3px;
      }
   }
   //#4
   .cont8-4{
      @extend %animate;
      @extend %sec-2-cont;
      height: 410px;
      width: 290px;
     background-image:url('C:/Users/User/Desktop/Индивидуальный проект/img/tumblr_38e3f4eb7caf6cabfc128974282585c3_156f13f7_540.jpg');
     background-size:cover;
     background-repeat:no-repeat;
     & a{
      text-decoration:none;
      color:white;
      .cont8-4-desc{
         margin-top: 260px;
         text-align: center;
         text-transform: uppercase;
         h1{
            font-size: 23px;
            font-weight: 700;
         }
         .cont8-4-desc-button{
            margin: 0 auto;
            margin-top: 15px;
            padding:12px 5px 5px 5px;
            width: 230px;
            height: 50px;
            border: 2px solid white;
            border-radius:25px;
            font-weight:500;
            transition: all 0.8s;
            &:hover{
               background-color: rgb(133, 132, 130);
               transition: all 0.8s;
            }
         }
      }
   }
   
   
   }
   
   }